<p>&nbsp;</p>
<h3 class="card-title mb-2">All My Books</h3>
<div *ngIf="bookdata$|async as bookdataref;" class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <td colspan="4"></td>
      <td colspan="4">
        <input class="form-control" placeholder="search" type="text"/>
      </td>
    </tr>
    <tr>
      <td width="35"><b>S/N</b></td>
      <td width="105"><b>Image</b></td>
      <td width="255"><b>Title</b></td>
      <td width="185"><b>Category</b></td>
      <td width="65"><b>Price</b></td>
      <td width="145"><b>Publisher</b></td>
      <td width="145"><b>Release Date</b></td>
      <td width="35"><b>Active</b></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bkda of bookdataref;index as i;">
      <td>{{i + 1}}</td>
      <td><img [src]="bkda.bookImage" height="60" width="55" /></td>
      <td>{{bkda.bookTitle}}</td>
      <td>{{bkda.bookCategory}}</td>
      <td>{{bkda.bookPrice}}</td>
      <td>{{bkda.bookPublisher}}</td>
      <td>{{bkda.addedDate|date}}</td>
      <td>{{bkda.bookStatus}}</td>
    </tr>
    </tbody>
  </table>
</div>
